@import '../../styles/colors';

.button {
  border: none;
  margin: 0;
  height: 35px;
  width: 35px;
  background-color: $logo-color;
  //padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  &:hover {
    background-color: $button-hover-color;
  }
}
