$primary-text-color: #fff;
$primary-text-color-grey: rgb(106, 106, 113);
$primary-text-color-black: rgb(0, 0, 0);
$logo-color: #bb5bf4;
$button-hover-color: rgb(64, 68, 79);

//navbar
$navbar-background-color: rgb(25, 27, 31);
$navbar-text-color: rgb(108, 114, 132);
$navbar-active-link-background-color: rgb(44, 47, 54);

//pages
$background-color: rgb(31, 33, 40);
$component-bg-color: rgb(25, 27, 31);
