@import '../../styles/colors';

.container {
  padding-top: 60px;
  width: 100vw;
  min-height: 93vh;
  background: rgb(187, 91, 244);
  background: radial-gradient(
    circle,
    rgba(187, 91, 244, 1) 0%,
    rgba(104, 60, 136, 1) 0%,
    rgba(31, 33, 40, 1) 83%
  );
  .wrapper {
    margin: 0 auto;
    width: 60vw;
    .header {
      color: $primary-text-color-grey;
    }
  }
}

.cardsWrapper {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  .card {
    width: 49%;
    height: 300px;
    padding: 24px;
    border-radius: 24px;
    background-color: $component-bg-color;
    &:hover {
      transform: translateY(-5px) scale(1.05);
      transition: all 0.2s ease-in;
    }
  }
}
